<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h1> Tax Calculator</h1>
    <h2> Regsitro buscado con ID: {{ registro_buscado.id }}</h2>
    <!-- La etiqueta table se usa para crear tablas en HTML -->
    <table>
        <!-- El elemento tr describe una fila de la tabla -->
        <tr>
            <!-- Cada elemento td corresponde a una celda dentro de la fila -->
            <td>Ingresos laborales: </td>
            <td>{{ registro_buscado.labor_income }}</td>
        </tr>
        <tr>
            <td>Otros ingresos: </td>
            <td>{{registro_buscado.other_income}}</td>
        </tr>
        <tr>
            <td>Segurirdad social: </td>
            <td>{{ registro_buscado.social_security_contribution }}</td>
        </tr>

        <tr>
            <td>Segurirdad social: </td>
            <td>{{ registro_buscado.social_security_contribution }}</td>
        </tr>

        <tr>
            <td>Contribucion a pension: </td>
            <td>{{ registro_buscado.pension_contribution }}</td>
        </tr>

        <tr>
            <td>Pagos hipotecarios: </td>
            <td>{{ registro_buscado.mortgage_loan_payments }}</td>
        </tr>

        <tr>
            <td>Donaciones: </td>
            <td>{{ registro_buscado.donations }}</td>
        </tr>

        <tr>
            <td>Gastos de educación: </td>
            <td>{{ registro_buscado.education_expenses }}</td>
        </tr>

        <tr>
            <td>Total ingreso imponible: </td>
            <td>{{ registro_buscado.total_taxable }}</td>
        </tr>

        <tr>
            <td>Total retencion de fuente: </td>
            <td>{{ registro_buscado.total_deduction_ws }}</td>
        </tr>

        <tr>
            <td>Total pago de impuestos: </td>
            <td>{{ registro_buscado.total_pay }}</td>
        </tr>

    </table>
</body>

</html>