<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h1>Calculadora de impuestos</h1>
    <h2> Buscar calculos regsitrados</h2>
    <form action="/usuario/new">
        <div>
            ID: <input type="text" name="id" />
        </div>
        <div>
            Labor income: <input type="text" name="labor_income" />
        </div>
        <div>
            Other income: <input type="text" name="other_income" />
        </div>
        
        <input type="submit" value="INSERTAR      REGISTRO" />
    </form>
</body>

</html>